<footer>
    <div class="footer-container">
        <div class="academic-links">
            <h2>Useful Links</h2>
            <span><a href="#"><i class="fa-solid fa-book-open"></i>eAcademic</a></span><br>
            <span><a href="$"><i class="fa-solid fa-square-phone" style="color: green;"></i>Contact</a></span>
        </div>
        <div class="contribution">
            <h2>Feedback</h2>
            <span>Your contribution helps thousand of Students</span><br>
            <span><a href="/results/new"><i class="fa-solid fa-cloud-arrow-up" style="color: rgba(0, 0, 255, 0.696);"></i>Upload</a></span>
        </div>
        <div class="creator">
            <h2>Follow me</h2>
            <span><a href="https://www.instagram.com/invites/contact/?igsh=1odys6jf9asap&utm_content=10rag3f7">
                <i class="fa-brands fa-instagram" style="color:crimson"></i>Instagram</a>
            </span><br>
            <span></i><a href="https://www.linkedin.com/in/nishi-kant-kumar-509131329?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                <i class="fa-brands fa-linkedin" style="color: rgba(0, 0, 255, 0.696);"></i>LinkedIn</a>
            </span>
        </div>
    </div>
</footer>