
/* Form style */
.form-details{
    display: flex;
    justify-content: center;
}
.form-details h1{
    padding:0 1rem;
}
.form-inputs{
    background-color:#ececec65;
    border: 1px solid #492828;
    padding: 3rem 0;
    border-radius: 32px;
    margin: 0 25px;
    text-align: center;
    max-width: 700px;
}
.form-details input,select{
    width: 65%;
    margin-bottom: 20px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: none;
}
.form-details input:focus{
    box-shadow: 0 0 7px 0 black;
}
.form-details select:focus{
    box-shadow: 0 0 7px 0 black;
}
.search-btn button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(4, 51, 4);
    color: white;
    font-size: 1rem;    
    cursor: pointer;
}