
/* Form style */
.form-details a{
    text-decoration: none;
    color: black;
}
.form-details{
    display: flex;
    justify-content: center;
    text-align: center;
}
.form-details h1{
    padding:0 1rem;
}
.form-inputs{
    background-color:rgba(220, 220, 220, 0.552);
    border: 1px solid #492828;
    padding: 2rem 0;
    border-radius: 16px;
    margin: 0 25px;
    max-width: 500px;
}

.form-details input,select{
    width: 70%;
    margin-bottom: 20px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.form-details input:focus,select:focus{
    box-shadow: 0 0 7px 0 black;
}

.search-btn button{
    width: 100px;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(4, 51, 4, 0.802);
    color: white;
    font-size: 1rem;    
    cursor: pointer;
}
.search-btn button:hover{
    background-color: rgb(4, 51, 4);
}