.paper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}
.imgUrl{
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    background-color: beige;
    box-shadow: 3px 7px 20px 3px black;
}
.imgUrl a{
    text-decoration: none;
    color: brown;
    font-size: 2rem;
}