.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #F6F0D7;
    position: sticky;
    top: 0;
}
.navbar .hamburger,.crossSign{
    display:none;
    padding:0.5rem;
    font-size:25px;
    margin-right: 10px;
}
.nav_leftPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-name{
    display: flex;
    align-items: center;
    margin-left: 0.75rem;
    padding: 0.3rem;
}

.logo-name p{
    margin: 0;
    font-weight: 500;
}
.logo-name p a{
    text-decoration: none;
    color: black;
}
.logo-name p a:hover{
    text-decoration: underline;
}
.image img{
    height: 65px;
    margin-right: 10px;
    opacity: 0.7;
    border-radius: 50%;
}
.options{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.option{
    margin: 5px;
}

.option a{
    margin: 5px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    opacity: 0.7;
}
.option a:hover{
    opacity: 1;
}
@media (max-width:1040px) {
    .navbar .options{
        display: none;
    }
    .navbar .nav_leftPart{
        width: 100%;
    }
    .portal-btn{
        display: flex;
        flex-direction: column;
    }
    .navbar .hamburger{
        display:block;
    }
}
.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: #f0f8a4ce;
    padding: 50px 0;
}
@media (max-width:400px) {
    .footer-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}
.footer-container a{
    text-decoration: none;
    color: #36656B;
}
.footer-container h4{
    opacity: 0.7;
}
.footer-container span i{
    font-size: 20px;
    padding: 0.2rem;
}
