body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #9CAB84;
    min-height: 100vh;
    flex: 1;
}
.info{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.submit-btn{
    background-color: red;
}
.home{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding:1rem 0.5rem 1rem 3rem;
}
.Heading p {
  font-size: 3rem;          
  font-weight: 500;
  background: linear-gradient(
     90deg,
    #2f6f4e,   
    #3a8f7a,  
    #7aa34f   
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Heading span{
    border: 1px solid black;
    font-style: italic;
    color:darkred;
    padding: 0.5rem 1rem;
    border-radius: 16px;
}
.portal-btn{
    display: flex;
}
.home .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 0.5rem;
    width: 200px;
    height: 50px;
}
.home .btn button{
    padding: 0.5rem 1rem;
    font-weight: 400;
    border-radius: 32px;
    width: 200px;
    font-size: 15px;
    border: none;
}
.home .btn button:hover{
    font-size: 17px;
    height: 40px;
    width: 190px;
    margin-bottom: 20px;
    box-shadow:6px 5px 9px 0 black;
}
.guidance{
    padding: 1rem;
    flex: 1;
}
.portal-offer{
    padding: 1rem;
    border-radius: 16px;
    border: 1px solid #6b7c5a;
}
.portal-offer i{
   color: #166534;
}
@media (max-width:1300px) {
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media (max-width:630px) {
    .home p{
        font-size: 2rem;
    }
    .home span{
        font-size: 0.7rem;
    }
    .logo-name p{
        font-size: 0.8rem;
    }
}
.contact-query{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.queries{
    text-align: center;
    background-color: #3a8f7a9a;
    border-radius: 20px;
    padding: 2rem;
    border: 2px solid seagreen;
}
.objective{
    padding: 1rem;
    margin: 1rem;
    line-height: 25px;
}
.How-to-use{
    padding: 1rem;
    margin: 3rem;
    border-radius: 16px;
    background-color: #8F9F73 ;

}
.How-to-use h2{
    color: #492828;
    margin-bottom: 0;
}
.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.step span{
    font-weight: 500;
    color: #5A3E2B;
}
.step{
    box-shadow: 2px 2px 12px 0 black;
    padding: 1rem;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
}
.useCaseHeading{
    margin: 0;
}