body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #9CAB84;
    min-height: 100vh;
    flex: 1;
}
.info{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.submit-btn{
    background-color: red;
}
.home{
    display: flex;
    flex-direction: column;
    padding:1rem 0.5rem 1rem 3rem;
}
.Heading p {
  font-size: 3rem;          
  font-weight: 800;
  background: linear-gradient(
     90deg,
    #2f6f4e,   
    #3a8f7a,  
    #7aa34f   
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Heading span{
    border: 1px solid black;
    font-style: italic;
    color:darkred;
    padding: 0.5rem 1rem;
    border-radius: 16px;
}
.portal-btn{
    display: flex;
}
.home .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 0.5rem;
    width: 200px;
    height: 50px;
}
.home .btn button{
    font-style: italic;
    padding: 0.5rem 1rem;
    font-weight: 400;
    border-radius: 32px;
    box-shadow: #A8DF8E 3px 2px 7px 2px;
    width: 200px;
    border: none;
}
.home .btn button:hover{
    font-size: 17px;
    height: 40px;
    width: 190px;
    margin-bottom: 20px;
    box-shadow: #166534 8px 5px 9px 0;
}
.guidance{
    padding: 3rem;
    flex: 1;
}
.portal-offer{
    padding: 1rem;
    border-radius: 16px;
    border: 1px solid #6b7c5a;
}
.portal-offer i{
   color: #166534;
}
@media (max-width:1300px) {
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
.contact-query{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.queries{
    text-align: center;
    background-color: #3a8f7a9a;
    border-radius: 20px;
    padding: 2rem;
    border: 2px solid seagreen;
}
/* navbar and footer styling */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #F6F0D7;
    position: sticky;
    top: 0;
}
.logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
}

.logo-name p{
    margin: 0;
    font-weight: 500;
}
.logo-name p a{
    text-decoration: none;
    color: black;
}
.logo-name p a:hover{
    text-decoration: underline;
}
.image img{
    height: 65px;
    margin-right: 10px;
    opacity: 0.7;
    border-radius: 50%;
}
.options{
    display: flex;
    padding: 1rem;
}
.option{
    margin: 5px;
}

.option a{
    margin: 5px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    opacity: 0.7;
}
.option a:hover{
    opacity: 1;
}
@media (max-width:1040px) {
    .navbar .options{
        display: none;
    }
        .portal-btn{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:800px) {
    .footer-container .contribution{
        display: none;
    }
}
.footer-container{
    display: flex;
    justify-content: space-around;
    background-color: #f0f8a4ce;
    padding: 50px 0;
}
.footer-container a{
    text-decoration: none;
    color: #36656B;
}
.footer-container span i{
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
}
