<%- layout("layouts/boilerplate.ejs")%>
<div class="form-details" style="margin-top: 2rem;">
<form method="post" action="/login">
    <h1>Log in to access previous year question papers</h1>
    <div class="form-inputs">
        <div>
        <label for="username">Username</label><br>
        <input type="text" placeholder="username" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="password" placeholder="password" name="password" id="password" required>
    </div>
    <div class="search-btn">
        <button>Login</button>
    </div>
    </div>
</form>
</div>