<% layout("/layouts/boilerplate")-%>
<div class="form-details">
  <form method="post" action="/forget-password">
    <h1>Reset your password</h1>
    <div class="form-inputs">
      <div>
        <label for="email">Email</label><br />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your Email"
          required
        />
      </div>
      <div class="search-btn">
        <button>Send-OTP</button>
      </div>
    </div>
  </form>
</div>
