<%- layout("layouts/boilerplate.ejs")%>
<div class="collections">
    <div class="info">
        <div class="home">
            <div class="Heading">
                <span>Practice the Pattern. Ace the Exam</span>
                <p>NIT Arunachal Pradesh <br>Previous Year Question Papers (PYQs)</p>
            </div>
            <div class="portal-btn">
               <form method="get" action="results/document">
                    <div class="paperfind-btn btn"><button>Documentation</button></div>
               </form>
                <form method="get" action="results/search">
                    <div class="paperfind-btn btn"><button>previous paper</button></div>
               </form>
            </div>
        </div>
        <div class="guidance">
              <div class="portal-offer">
            <h2><i class="fa-solid fa-lightbulb"></i>Why Students Trust This Platform</h2>
            <p>Built by students, for students, this portal saves time, reduces stress, and helps you prepare with confidence and clarity.</p>
            <div>
                <span><i class="fa-solid fa-square-check"></i>Simple, distraction-free interface designed for quick access and ease of use.</span><br>
                <span><i class="fa-solid fa-square-check"></i>Verified & authentic papers collected from real examinations — no fake or misleading content.</span><br>
                <span><i class="fa-solid fa-square-check"></i>Well-organized structure with branch-wise, semester-wise, and year-wise categorization..</span><br>
                <span><i class="fa-solid fa-square-check"></i>Focused preparation with Mid-Sem and End-Sem papers clearly separated.</span><br>
                <span><i class="fa-solid fa-square-check"></i>Student-driven contributions, ensuring relevance and continuous growth.</span><br>
            </div>
        </div>
        </div>
</div>
<div>
<div class="contact-query">
    <div class="queries">
        <h2>Result Help Desk</h2>
    <p>This section is dedicated to handling result discrepancies, missing documents, and official requests.</p>
    <div class="query-points">
        <span class="subtitle">If you have any queries, feel free to reach out:</span>
        <br>
        <span>Email: <i class="fa-regular fa-envelope"></i>
        <a href="mailto:nishikants192@gmail.com">
            nitap.pyq2026@gmail.com
        </a></span>
        <br>
        <span>Address: NIT Arunachal Pradesh,Jote,Arunachal Pradesh,India</span><br>
        <div class="disclaimer">
            <h3>Student-managed platform</h3>
        </div>
    </div>

    </div>
</div>