<%- layout("layouts/boilerplate.ejs")%>
<div class="collections">
    <div class="info">
        <div class="Heading"><p>NIT Arunachal Pradesh - <br>Previous Year Question Papers (PYQs)</p></div>
        <div class="portal-offer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit facilis dolor nobis aperiam sunt expedita nulla porro odio, impedit culpa alias nihil dignissimos tempora quam aspernatur unde enim quaerat commodi.
        Officiis illum natus eum illo odio incidunt consequuntur maxime tempore soluta! Autem enim aperiam voluptatem rerum porro. Fugit quod sapiente illo adipisci est sint dolorum et. Error repellat expedita quidem.
        Veritatis at omnis dolorum debitis esse, impedit modi recusandae, ratione mollitia, natus dolorem enim repellat aliquid. Ratione eveniet asperiores recusandae nulla aperiam, fuga, rem, rerum amet cumque possimus assumenda consequatur.
        Suscipit illum quaerat facere ipsum quas amet voluptas provident at nobis excepturi, quo obcaecati eligendi molestiae earum rerum sint. Reprehenderit dolorum molestias facere odit eum optio fuga deleniti ratione nihil.
        Atque tempora harum a! Nulla rerum iure accusantium repellat expedita aperiam consequatur dolores sunt alias fuga amet, adipisci earum atque magni cumque molestias, assumenda quis hic quae quasi et. Perferendis.</div>
    </div>
</div>