<%- layout("layouts/boilerplate.ejs")%>
<div class="form-details">
<form method="post" action="/results/new" enctype="multipart/form-data">
    <div class="form-inputs">
    <h1>Help fellow students by sharing authentic exam paper.</h1>
           <div>
        <label for="year">Year</label><br>
        <input type="number" placeholder="2025" name="result[year]" id="year" required>
    </div>
    <div>
        <label for="semester">Semester</label><br>
        <input type="number" placeholder="1" name="result[semester]" id="semester" min="1" max="8" required>
    </div>
   <div>
        <label for="term">Mid/End Term</label><br>
        <select name="result[term]" id="term" required>
            <option value="select">Select Term</option>
            <option value="mid">mid</option>
            <option value="end">end</option>
        </select>
    </div>
   <div>
        <label for="branch">Branch</label><br>
        <select name="result[branch]" id="branch">
            <option value="choose">Select Your Branch</option>
            <option value="CSE">CSE</option>
            <option value="ECE">ECE</option>
            <option value="EE">EE</option>
            <option value="ME">ME</option>
            <option value="CE">CE</option>
            <option value="BIO">BIO-TECH</option>
        </select>
    </div>
    <div>
        <label for="subjectCode">SubjectCode</label><br>
        <input type="text" placeholder="BS-2101" name="result[subjectCode]" id="subjectCode" required>
    </div>
    <div>
        <label for="image">Image</label><br>
        <input type="file" name="result[image]" id="image" class="file-input" required>
    </div>
    <div class="search-btn">
        <button>Submit</button>
    </div>
    </div>
</form>
</div>
