<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Year Paper</title>
<body>
    <style>
    body{
      overflow-x: hidden;
      color: black;
      margin: 0;
      padding: 0;
    }
    .show-paper{
        display: flex;
        justify-content: center;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.879);
        padding: 1rem;
    }
    img{
        max-width: 800px;
        border: 3px solid red;
        border-radius: 16px;
    }
</style>
</head>
<body>
    <div class="show-paper">
        <img src="<%-matchData.image.url%>">
    </div>
</body>
</html>