<%layout("layouts/boilerplate.ejs")-%>
<div class="paper">
  <div class="imgUrl">
    <h1>Access the PDF by clicking here.</h1>
    <a target="_blank" href="<%=matchData.image.url%>">Click Here</a>
  </div>
</div>