<%layout("layouts/boilerplate.ejs")-%>
<div class="paper">
  <div class="imgUrl">
    <h1>You can click and get the pdf</h1>
    <a target="_blank" href="<%=matchData.image.url%>">Click Here</a>
  </div>
</div>